/* font */
:root {
  --font-special: -apple-system, BlinkMacSystemFont, segoe ui, helvetica neue,
    helvetica, roboto, arial, sans-serif;
  --font-plain: -apple-system, BlinkMacSystemFont, segoe ui, helvetica neue,
    helvetica, Cantarell, Ubuntu, roboto, arial, sans-serif;
  --letter-spacing-0: -0.015em;
  --letter-spacing-1: 0.04em;
}

/* color */
:root {
  --bg: hsl(0deg 0% 7%);
  --primary: white;
  --secondary: hsl(0deg 0% 90%);
  --tertiary: hsl(0deg 0% 16%);
  --accent: hsl(209deg 100% 53%);
}

body {
  --stack-gap: 1em;
  --stack-horizontal-alignment: stretch;

  padding: var(--space-s-m);
  background-color: var(--bg);
  font-family: var(--font-plain);
  color: var(--secondary);
}

@supports (height: 100svh) {
  body {
    min-height: 100svh;
  }
}

main {
  --stack-gap: 1em;
  flex-grow: 1;
}

h1 {
  --cluster-gap: 0.5ch;
  /* --cluster-horizontal-alignment: space-between; */
  --cluster-vertical-alignment: baseline;
  flex-wrap: nowrap;

  color: var(--primary);
  font-size: var(--step-3);
  font-family: var(--font-special);
  letter-spacing: var(--letter-spacing-0);
  line-height: 1.1;
}

p {
  max-inline-size: 60ch;
}

a {
  color: var(--accent);
}

summary {
  cursor: pointer;
  touch-action: manipulation;
}

.site-head svg {
  inline-size: var(--step-3);
  block-size: var(--step-3);
  vertical-align: middle;
  /* fill: currentColor; */
}

model-viewer {
  --poster-color: transparent;
  flex-grow: 1;
  inline-size: 100%;
  outline: 2px solid var(--tertiary);
}

model-viewer noscript img {
  inline-size: auto;
  block-size: 85vh;
  margin-inline: auto;
}

model-viewer::part(default-progress-bar) {
  background-color: var(--primary);
}

model-viewer::part(default-progress-mask) {
  display: none;
}

.credit {
  align-self: end;
}

/* styling the image removes the 3D-cube badge shown in the top-right corner */
/* .ar-model img {
  inline-size: auto;
  block-size: 80vh;
  object-fit: cover;
} */
