<model-viewer 
src={{ model.glb }}
ios-src={{ model.usdz }}
poster={{ model.poster }}
alt={{ model.alt }}
loading="eager"
shadow-intensity="1"
camera-controls
enable-pan
touch-action="none"
auto-rotate
ar>
  <noscript>
    <img src={{ model.poster }} alt={{ model.alt }}>
  </noscript>
  <button class="full-screen" onclick="toggleFullscreen()">
    {%- include "snippets/full-screen.html" -%}
  </button>
</model-viewer>

<script>
  function toggleFullscreen() {
    let elem = document.querySelector("model-viewer");

    if (!document.fullscreenElement && !document.webkitFullscreenElement) {
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
      }
    } else if (document.fullscreenElement) {
      document.exitFullscreen();
    } else if (document.webkitFullscreenElement) {
      document.webkitExitFullscreen();
    }
  }
</script>